body,
html {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding: 0;
  background-color: $bgcolor;
  height: 100%;
  color: $colortext;
}

a {
  text-decoration: none;
  color: $colortext;
}

.none {
  display: none;
}

.pageBase {
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}
.mainDiv {
  margin: auto;
}

@keyframes ZoomIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.zoomIn {
  animation-duration: 1s;
  animation-name: ZoomIn;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
@keyframes fadeOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}
.fadeOut {
  animation-duration: 0.6s;
  animation-name: fadeOut;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}
