#contactPage {
  .mainDiv {
    padding: 30px 0 50px 0;
    text-align: center;
    form {
      margin: 0 auto;
      text-align: left;
      padding: 10px 0;
      .subject,
      .content {
        width: 80%;
        margin: 0 auto;
        label {
          display: block;
          padding: 0;
          margin-bottom: 15px;
          background-color: #fff;
          font-weight: 600;
        }
      }
      .id {
        & > div {
          margin-bottom: 50px;
        }
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        height: 80px;
        width: 80%;
        margin: 0 auto;
        .name,
        .email {
          display: inline-block;
          width: 45%;
          label {
            display: block;
            padding: 0;
            margin-left: 26px;
            margin-bottom: 15px;
            font-weight: 600;
          }
          input[name="email"],
          input[name="name"] {
            width: 80%;
            height: 40px;
            display: block;
            margin-bottom: 15px;
            margin: auto;
          }
        }
      }
      .subject {
        height: 62px;
        input[name="subject"] {
          width: 100%;
          height: 40px;
        }
      }

      .content {
        textarea {
          width: 100%;
          resize: none;
        }
        button {
          cursor: pointer;
          color: $bgcolor;
          background-color: $red;
          border: 1px solid $red;
          border-radius: 5px;
          padding: 1% 3%;
          font-weight: 600;
          transition: ease-in-out 300ms;

          &:hover {
            color: $red;
            font-weight: 600;
            background-color: $bgcolor;
          }
        }
      }
      input {
        margin-bottom: 50px;
      }
    }
  }
}
