@keyframes appear {
  from {
  }
  to {
    opacity: 1;
    color: $colortext;
  }
}

@keyframes enterLeft {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
      transform: translateX(0px);
  }
}

.animli{
    animation-duration: 2000ms;
    animation-name: enterLeft;
    animation-fill-mode: forwards; 
}

.opac {
  animation-duration: 2000ms;
  animation-name: appear;
  animation-fill-mode: forwards;
}

header {
  #logo {
    opacity: 0;
    display: block;
    position: fixed;
    margin: 0% 5%;
    padding-top: 1%;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    color: $yellow;

    @include sm {
      padding: 1em;
      display: block;
      text-align: center;
      text-decoration: none;
    }
  }
  .nav {
    a {
      padding: 1em 2em 5px 2em;
      display: block;
      text-align: center;
      text-decoration: none;
      &:hover{
          color: $red;
          transition: 300ms ease-in-out ;
      }
    }
    ul {
      margin: 0px;
      padding: 0px;
      list-style: none;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 2px;
      .leftOut {
        transform: translateX(-9999px);
      }
    }
    .menu {
      display: flex; /*1*/
      flex-direction: row; /*2*/
      justify-content: center; /*3*/
      @include sm {
        flex-flow: column wrap; /*4*/
      }
    }
  }
}
