#home {
  &__ill {
    margin: auto;
    width: 40%;
    &--image {
      width: 80%;
    }
  }
  &__description {
    &--title {
      font-weight: 800;
      font-size: 50px;
      letter-spacing: 1.5px;
      & span {
        color: $red;
      }
    }
    margin: 10px;
    &--text {
      width: 50%;
      font-size: 18px;
      padding-top: 20px;
      display: block;
      margin: auto;
      text-align: left;

      margin-bottom: 70px;
      text-align: justify;
      @include md {
        width: 90%;
        font-size: 18px;
      }
      & br {
        display: block;
        content: "";
        margin-bottom: 15px;
      }
      &--title {
        color: $red;
        font-weight: 600;
        display: block;
        margin-bottom: 30px;
      }
    }
    a {
      font-size: 1.5em;
      color: $bgcolor;
      background-color: $red;
      border: 1px solid $red;
      border-radius: 5px;
      padding: 1% 3%;
      font-weight: 600;
      transition: ease-in-out 300ms;
      &:hover {
        color: $red;
        font-weight: 600;
        background-color: $bgcolor;
      }
    }
  }
  .mainDiv {
    margin: 5%;
    @include md {
      margin: 10%;
    }
  }
}
