@keyframes ZoomOut {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}

#LandingPage {
  height: 100%;
  text-align: center;
  display: flex;
}

#welcome {
  margin: auto;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 150%;
  i{
    color: $yellow;
    font-size: 100px;
  }
}

.ZoomOut {
  animation-duration: 3s;
  animation-name: ZoomOut;
  animation-fill-mode: forwards;
}
