/*Index*/
.none {
  display: none;
}

@keyframes slideUp {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}

#LandingPage {
  height: 100%;
  text-align: center;
  display: flex;
}

#welcome {
  margin: auto;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 3px;
}

.slideUp {
  animation-duration: 3s;
  animation-name: slideUp;
  animation-fill-mode: forwards;
}
