// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
 
// Small tablets (portrait view)
$screen-md-min: 768px;
 
// Tablets and small desktops
$screen-lg-min: 992px;
 
// Large tablets and desktops
$screen-xl-min: 1200px;



$bgcolor : #FCFCFC;
$colortext : #333;
$blue:#88A0A8;
$yellow:#E3B505;
$red:#155758