@keyframes viewProjectUp {
  from {
    transform: translateY(-200px);
  }
  to {
    transform: translateY(0px);
  }
}

.viewProjectUp {
  animation-duration: 0.6s;
  animation-name: viewProjectUp;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.transitionScale {
  transform: scale(1.1);
  transition: all 0.6s linear;
//voir pour presentation des project modal ?
  z-index: 100000;
}
.transitionScaleOff {
  transform: scale(1);
  transition: all 0.6s linear;
}

#work {
  .mainDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    @include md {
      flex-direction: column;
      padding: 0px 15px;
    }
    .projectDiv {
      flex: 1 0 25%;
      background-color: #fff;
      margin: 3%;
      padding: 1% 0 2% 0;
      border-radius: 3px;
      -webkit-box-shadow: 4px 6px 17px -4px lighten($colortext, 50%);
      -moz-box-shadow: 4px 6px 17px -4px lighten($colortext, 50%);
      box-shadow: 4px 6px 17px -4px lighten($colortext, 50%);
      overflow: hidden;
      z-index: 10;
      @include md {
        padding: 3% 0 8% 0;
        margin: 50px 0px;
      }
    }
    h2 {
      color: $red;
      font-weight: 600;
    }
    img {
      width: 90%;
      border-radius: 3px;
    }
    p {
      width: 70%;
      height: 150px;
      margin: 5% auto;
      text-align: left;
      line-height: 22px;
    }
    a {
      font-size: 1.5em;
      color: $bgcolor;
      background-color: $red;
      border: 1px solid $red;
      border-radius: 5px;
      padding: 2% 5%;
      font-weight: 600;
      transition: ease-in-out 300ms;

      &:hover {
        color: $red;
        font-weight: 600;
        background-color: $bgcolor;
      }
    }
  }
}
